* {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  color: rgba(0, 0, 0, 0.8);
}

.topnav {
  height: auto;
  width: 100%;
  font-size: 25px;
  position: fixed;
  z-index: 1000;
  left: 0px;
  top: 0px;
  right: 0px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
#myLinks {
  background: linear-gradient(rgb(172, 172, 172), rgba(172, 172, 172, 0.927));
}

#myLinks a {
  color: white;
}

#myLinks a:hover {
  background-color: #338bff;
  color: white;
}

/* Style navigation menu links */
.top-bar a:first-child {
  flex-grow: 2;
}

.topnav a {
  color: white;
  font-weight: bolder;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  text-shadow: 1px 1px black;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: linear-gradient(rgb(172, 172, 172), rgba(172, 172, 172, 0.89));
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Style the active link (or home/logo) */
.active {
  background: linear-gradient(#338bff, #006eff);
  color: white;
}

.artifacts-div {
  display: none;
  background: linear-gradient(rgb(172, 172, 172), rgba(172, 172, 172, 0.89));
  flex-wrap: wrap;
  justify-content: space-around;
}
.artifacts-div a:hover {
  background-color: #338bff;
  color: white;
}

/* Wrappers ! */
.wrapper {
  width: 80%;
  margin: auto;
}

.blueprint {
  margin: 100px auto;
  width: 80%;
}
.blueprint h2 {
  margin: 0%;
  font-size: 2em;
  color: #338bff;
  font-weight: bolder;
}
.blueprint img {
  width: 100%;
}
.wrapper {
  min-height: calc(100vh - 249.9px);
}

.welcome {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 100px;
}

.welcome h2 {
  font-size: 30px;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.welcome p {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.welcome img {
  display: block;
  width: 100%;
  margin: auto;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.welcome img:hover {
  transform: scale(105%);
}

.background-fade {
  margin-top: 50px;
  background: rgba(51, 139, 255, 1);
  height: 75px;
}

.button {
  display: flex;
  justify-content: flex-start;
  
}
.more-button {
  left: 75px;
  top: 20px;
}

.button a {
  color: white;
  font-size: 1em;
  border: 1px white solid;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(#338bff, #006eff);
}

.courses-outter {
  margin: 75px auto;
}

.courses-outter h2 {
  font-size: 25px;
  text-align: center;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.courses-outter li {
  font-size: 20px;
  list-style: decimal;
  margin: 10px;
  color: rgba(0, 0, 0, 0.8);
}

.statement-outter {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
  border-radius: 10px;
}

.statement-outter h2 {
  text-align: center;
  font-size: 25px;
}

.statement-outter p {
  margin: auto 20px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}

.inner-menu {
  display: none;
}

.background-image {
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  height: 668px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.statement-inner {
  margin: -250px auto 150px auto;
  padding: 10px 30px;
  background-color: #fff;
  position: relative;
}

.statement-inner h2 {
  font-size: 2em;
}

.statement-inner p {
  font-size: 1.5em;
}

/* --------------- Developmental Goal --------------  */
.goals-wrapper {
  width: 90%;
  margin: auto;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05), 0 5px 30px rgba(0, 0, 0, 0.2);
}
.goals-wrapper h2 {
  margin: 70px auto 30px auto;
}
.goals-wrapper section {
  margin-bottom: 50px;
  padding: 20px 30px;
}
.goals-wrapper h2 {
  font-size: 30px;
  text-align: center;
  padding: 20px 30px;
}
.goals-inner h3 {
  font-size: 22px;
  text-align: left;
  margin: 0px;
}
.goals-inner p {
  font-size: 20px;
  text-align: left;
  margin: 5px 0px;
}

/* ----------------- Resume Page -----------------  */
.resume-wrapper {
  margin-top: 100px;
  width: 90%;
  margin: 100px auto;
}
.resume-inner-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.resume-inner-info img {
  border-radius: 50%;
  width: 250px;
  margin: auto;
}

.resume-inner-info h3,
.objective-inner h3,
.education-inner h3,
.experience-inner h3,
.associations h3 {
  margin: 20px 0px 0px 0px;
  font-weight: bolder;
  color: #338bff;
}
.resume-inner-info p {
  color: rgba(0, 0, 0, 0.7);
}

/*Address, Name, Phone, Number  */
.resume-top-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.resume-top-info ul li {
  list-style: disc;
}

/* Objective  */

.objective-inner p {
  margin: 40px 0px 40px 20px;
}
/* Education and Experience*/
.education,
.experience {
  margin: 5px 0px 5px 20px;
}
.experience ol li,
.associations ol li {
  list-style: disc;
}
/* ------------------ Artifact 1 Page -------------- */
.artifact-outter h2 {
  text-align: center;
  
  margin: 75px 0px 50px 0px;
}
.artifact-outter {
  margin: 50px auto;
}
.artifact-outter iframe {
  width: 100%;
  height: 450px;
  margin: 25px auto auto auto;
}
.description {
  margin-bottom: 50px;
}
.description h3 {
  margin: 0;
}
.objective {
  margin: 40px auto;
  background: linear-gradient(#338bff, #006eff);
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: rgba(128, 128, 128, 0.366) 4px 4px;
  
}
.objective p {
  color: white;
}

/* ==---- DRY --== ===  */
.flex {
  display: flex;
}
.text {
  font-size: 1.3em;
  margin: 10px 0px;
}

/* --------- Main-Footer ----------- */
.main-footer {
  margin: auto;
  background-color: rgba(24, 24, 26, 1);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.outter-lines {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 80%;
}
.line {
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  padding-bottom: 15px;
}
.line:hover {
  transform: scale(1.1);
  transition: 2s;
}
.line i {
  margin-right: 10px;
  color: white;
}
.line a,
.line p {
  color: rgba(255, 255, 255, 0.773);
  margin: 0px 0px 5px 0px;
}
.line a:first-child {
  text-decoration: #006eff underline;
  color: white;
}

span {
  font-size: 15px;
  margin: 0%;
  float: left;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .topnav #myLinks {
    display: none;
    color: black;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .button a {
    font-size: 25px;
  }
  /* ------------------ Artifact Page Tablet -------------- */
  .objective {
    width: 80%;
  }
  a[href$="pdf"], a[href$="docx"],
  a[href$="pptx"] {
    margin: 50px 5px;
  }
  .blueprint {
    width: 100%;
  }
  .outter-lines {
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    
  }
  .artifacts-div {
    justify-content: flex-end;
    margin-left: auto;
    display: flex;
  }

  .artifacts-div a {
    text-align: center;
  }

  .welcome-info {
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
  }

  .welcome-info h2 {
    font-size: 50px;
  }

  .welcome-info p {
    font-size: 40px;
  }

  .statement-inner h2,
  .courses-outter h2 {
    font-size: 40px;
  }

  .statement-inner p,
  .courses-outter li {
    font-size: 30px;
  }

  .statement-inner {
    width: 680px;
    padding: 20px 60px;
  }

  .courses-outter {
    text-align: left;
    width: 50%;
  }
  /* ============= Developmental Goals Page Tablet=============== */
  .goals-wrapper {
    width: 80%;
  }
  .goals-wrapper h2 {
    font-size: 2.3em;
  }
  .goals-inner h3 {
    font-size: 2em;
  }
  .goals-inner p {
    font-size: 1.6em;
  }

  /* ============ Resume Tablet Page ============== */
  .objective-inner,
  .education-inner,
  .experience-inner,
  .resume-inner-info {
    display: flex;
  }
  .resume-inner-info {
    flex-direction: row;
  }
  .education-inner h3,
  .experience-inner h3 {
    margin-bottom: 15px;
  }
  .education p,
  .experience p {
    margin: 0%;
  }
  .resume-top-info {
    width: 40%;
  }
  .resume-top-info h3 {
    font-size: 2em;
  }
  .resume-top-info p,
  .resume-top-info ul li,
  .education-inner p,
  .experience-inner p,
  .experience-inner ol li,
  .associations li,
  .objective-inner p {
    font-size: 1.4em;
  }
  .experience ol {
    margin-left: -20px;
  }
  .objective-inner h3,
  .education-inner h3,
  .experience-inner h3 {
    font-size: 1.5em;
  }

  .education-inner,
  .experience-inner {
    flex-direction: column;
  }
}



@media only screen and (min-width: 992px) {
  .artifact-outter h2 {
    font-size: 1.7em;
    margin: 75px 0px 0px 0px;
    width: 50%;
  }
  .text {
    font-size: 1.5em;
  }
  .description-inner h3 {
    font-size: 1.6em;
  }
  .description-inner {
    width: 50%;
    margin: auto;
  }
  
  .description-outter {
    display: flex;
  }
  .description-outter iframe {
    width: 50%;
  }
  .line {
    font-size: 1.5em;
  }

  /* ------------------ Artifact Page Desktop -------------- */

  .wrapper {
    width: 85%;
  }

  .resume-top-info h3 {
    font-size: 2.2em;
  }
  .resume-top-info p,
  .resume-top-info ul li,
  .education-inner p,
  .experience-inner p,
  .experience-inner ol li,
  .associations li,
  .objective-inner p {
    font-size: 1.5em;
  }
  .objective-inner h3,
  .education-inner h3,
  .experience-inner h3 {
    font-size: 1.6em;
  }
  .blueprint {
    width: 60%;
  }
  .goals-wrapper {
    width: 70%;
  }
  .artifacts-div {
    flex-direction: column;
    width: 10%;;
    justify-content: space-around;
  }

  /* ======= Nav Bar ============= */
  .top-bar {
    display: flex;
    flex-direction: row;
    background: linear-gradient(#338bff, #006eff);
    justify-content: space-between;
  }

  #hamburger {
    display: none;
  }

  .inner-menu {
    display: flex;
    flex-direction: row;
  }

  .inner-menu a:hover {
    transform: scale(1.2);
    transition: 0.5s;
  }

  #myLinks {
    display: none;
  }

  .statement-inner {
    width: 680px;
  }

  /* ============= Developmental Goals Page =============== */
  .goals-wrapper h2 {
    font-size: 2.5em;
  }
  .goals-inner h3 {
    font-size: 2.3em;
  }
  .goals-inner p {
    font-size: 2em;
  }
}
/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
  .artifact-outter h2 {
    font-size: 1.8em;
  }
  .text {
    font-size: 1.8em;
  }
  .description-inner h3 {
    font-size: 1.7em;
  }
  .description-outter iframe {
    height: 600px;
  }
}


